.prefecture{
    color: #84521D;
    font-size: 1.7rem;
    font-family: "A P-OTF A1Gothic Std",sans-serif;
    padding-right: 15px;
    padding-left: 10px;
    border-right: #FF8C27 1px dotted;
}
.date{
    color: #84521D;
    font-size: 1.7rem;
    font-family: "A P-OTF A1Gothic Std",sans-serif;
    padding-left: 15px;
}
.container{
    display: flex;
    position: absolute;
    top: 30px;
    left: 5px;
}
.temperature1{
    color: #008DC4;
    font-size: 1.2rem;
    font-family: "A P-OTF Antique AN+ ProN",sans-serif;
}
.temperature2{
    color: #FF563F;
    font-size: 1.2rem;
    font-family: "A P-OTF Antique AN+ ProN",sans-serif;
}
.temperatureWrap{
    display: flex;
    position: absolute;
    right: -3px;
}
.rect{
    width: 150px;
    height: 98px;
    border: #FFC87C 1px solid;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
}
.rect2{
    width: 136px;
    height: 85px;
    border: #FFC87C 0.5px solid;
    border-radius: 10px;
    margin-left: 7px;
    margin-top: 5px;
    position: relative;
}
.rainImg{
    position: absolute;
    top: -30px;
    left: -10px;
}